<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <script src="/javascripts/prototype.js?1253213146" type="text/javascript"></script>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Idpops</title>
 <link href="/stylesheets/blueprint/screen.css?1253213146" media="screen, projection" rel="stylesheet" type="text/css" /> 
 <link href="/stylesheets/blueprint/print.css?1253213146" media="print" rel="stylesheet" type="text/css" /> 
 <link href="/stylesheets/application.css?1253213146" media="screen" rel="stylesheet" type="text/css" />
 <!--[if IE]><link href="/stylesheets/blueprint/ie.css?1253213146" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
	<div class="container">
		
		  <div id='hd'>
		   <h1>
			<a href="/ideas"><img alt="Idpops" height=100 src="/images/idpops.png" width=280></a>
			</h1>
		
		    <h2>
		    	
					Welcome! 
					<a href="/session/new">Log In</a> 
					or 
					<a href="/users/new">Sign Up</a>
						    </h2>
		  </div>
		</div>
		<div id='container_bd'>
		  <div id='main'>
			  <div id="flashes">
				
				
				  
				
				  
				
				  
				
				  
				
				  
				
			  </div>
		    <h3>Welcome to Idpops</h3>

<p>It provides a complete system for managing Ideas !</p>

<p>This is the Alpha version for demo purpose only (dev is going on :)</p>

 

	 

		  </div>
		  <div id='sidebar'>
		      
		<div class="box">
			<h3>Help</h3>
			<p>
				Ready to log in?
				<br/>
				<a href="/session/new">» Click here to log in</a>
			</p>
			<p>
				Don't have an account?
				<br/>
			<a href="/users/new">» Click here to sign up</a>
			</p>
			<p>
				Forgot your password?
				<br/>
				<a href="/forgot_password">» Click here to retrieve it</a>
			</p>
		</div>
		
		  </div>
		</div>
		<div id='container_ft'>
		  <div id='ft'>
		    <ul>
				<li><a href="http://beta.idpops.com/">Home</a></li>
			    
				    <li><a href="/session/new">Log In</a></li>
				    <li><a href="/users/new">Sign Up</a></li>
				    <li><a href="/forgot_password">Forgot Password?</a></li>
					<li><a href="/ideas">Ideas</a></li>
			    
		    </ul>
		  </div>
		</div>
    </div>
  </body>
</html>