<div id="footernav">
	<div id="footernav_inner">
	    <ul>
			<li><a href="http://beta.idpops.com/">Home</a></li>
		    
			    <li><%= link_to "Log In", login_path %></li>
			    <li><%= link_to "Sign Up", signup_path %></li>
			    <li><a href="/forgot_password">Forgot Password?</a></li>
				<li><a href="/ideas">Ideas</a></li>
		    
	    </ul>
			
	
	</div>
</div>
</div>
<div id="bottom_dropshadow"></div>
