<div id="footernav">
	<div id="footernav_inner">
					<ul>
				<li class="first_element">
					&copy; Simpletastic Inc. 
				</li>
				<li>
					<a href="http://anyvite.com/tos">Terms of Service</a>				</li> 
				<li>
					<a href="http://anyvite.com/privacypolicy">Privacy Policy</a>				</li>
				<li>
					<a href="http://anyvite.com/about">About</a>				</li>
				<li>
					<a href="http://anyvite.com/contact_us/x44k4uzibmgnt2">Contact Us</a>				</li>
				<li>
					<a href="http://anyvite.com/blog" target="_blank">Blog</a>
				</li>
			</ul>
			
	
	</div>
</div>
</div>
<div id="bottom_dropshadow"></div>
